* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 50px;
}

#div-head {
    width: 1440;
    height: 669;
    position: relative;
}

.section-top {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.head-line {
    width: 90%;
    height: 300px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 8%;
    text-align: center;
}

.head-line h1 {
    width: 826pt;
}

.button-style {
    color: white;
    text-decoration: none;
    margin-top: 50px;
    background-image: linear-gradient(orange, red);
    font-weight: 500;
    padding: 10px 40px;
    border-radius: 5px;
}

.button-div {
    margin-top: 40px;
}

.donate-today {
    text-align: center;
    margin-top: 100px;
}

.section-flex {
    display: flex;
    margin-bottom: 40px;
    margin-top: 50px;
    margin-left: 125px;
    margin-right: 311px;
}

.five-width {
    width: 10%;
    padding-left: 40px;
    padding-right: 40px;
    margin: 20px;
}

.amount {
    font-weight: bolder;
    color: rgb(71, 69, 69);
    padding: 40px;
    margin-left: 50px;
    background-color: rgb(241, 236, 236);
    border-radius: 5px;

}

.red-amount {
    font-weight: bolder;
    color: rgb(209, 21, 21);
    padding: 40px;
    margin-left: 50px;
    background-color: rgb(148, 88, 88);
    border-radius: 5px;


}

hr {
    color: rgb(255, 253, 253);
    margin-top: 10px;
    margin-right: 300px;
    margin-left: 300px;
}

#other {
    color: rgb(117, 108, 108);
    ;
}